{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django + Vite + React</title>
    <!-- if development -->
    {% if debug %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>

    <script type="module">
      import RefreshRuntime from "http://localhost:5173/@react-refresh";
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
      window.__vite_plugin_react_preamble_installed__ = true;
    </script>

    <script type="module" src="http://localhost:5173/src/main.jsx"></script>
    {% else %}
    <link rel="stylesheet" href="{% static '/index-cf9a4bd4.css' %}" />

    <script
      type="module"
      crossorigin
      src="{% static '/index-5d6b4636.js' %}"
    ></script>
    {% endif %}
  </head>
  <body>
    <!-- {% if debug %}
    <script type="module" src="http://localhost:5173/src/main.jsx"></script>
    {% else %}
    <script
      type="module"
      crossorigin
      src="{% static '/assets/index-868be90e.js' %}"
    ></script>
    {% endif %} -->
    <div id="root"></div>
  </body>
</html>
